* {
    box-sizing: border-box;
    text-decoration: none;
}

.body {
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    flex-direction: column;
}

.count {
    background-color: black;
    color: white;
    padding: 25px 45px;
}

.button {
    margin: 10px;
}
.button button {
    padding: 5px;
    font-size: 18px;
}